/*div{
    padding: 40px;
    background: lightgreen;
}

div p{
    display:"none";
}*/

body{
    font-family: "Nunito";
    background-color: lightgreen;
    color: darkblue;

}

section{
    padding-top:80px;
    padding-left:5vw;
    padding-right:5vw;
}

.wrapper{
    max-width:1080px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

h1{
    text-transform:uppercase;
    font-size: 20px;
    margin-bottom: 32px;
}

article{
    border-bottom: 1px solid darkblue;
}

article:last-child{
    border-bottom: none;
}

.status{
    width:10px;
    height:10px;
    background-color:transparent;
    border: 2px solid darkblue;
    display:inline-block;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

article.opened .status{
    background-color:darkblue;
}

h2{
    font-weight:700;
    cursor: pointer;
}

p{
    display:none;
}

article.opened p{
    display:block;
}

.flex-container{
    display:flex;
    justify-content:space-around;
}

input[type="submit"]{
    margin-top: 50px;

}